.programmes{
    margin: 80px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.programmes img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
}
.programme{
    position: relative;
    flex-basis: 31%;
    height: 300px;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.caption img {
    width: 150px;
    margin-bottom: 10px;
}
.programme:hover .caption{
    opacity: 1;
    padding-top: 0;
}