.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(46, 40, 79, 0.7), rgba(30, 27, 51, 0.7)), url('../../assets/ecole.avif') no-repeat center center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-texe{
    text-align: center;
    max-width: 800px;
}
.hero-texe h1 {
    font-size: 40px;
    font-weight: 600;
}
.hero-texe p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

/* Responsiveness */
@media (max-width: 850px) {
    .hero-texe h1 {
        font-size: 2em;
    }

    .hero-texe p {
        font-size: 1em;
    }

    .hero-texe .btn {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}

@media (max-width: 600px) {
    .hero-texe h1 {
        font-size: 1.5em;
    }

    .hero-texe p {
        font-size: 0.9em;
    }

    .hero-texe .btn {
        font-size: 0.8em;
        padding: 6px 12px;
    }
}