nav{
    width: 100%;
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    cursor: pointer;
}
.logo{
    width: 50px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 16px;
    margin: 5px 20px;
}
.couleurDeNav{
    background: #141837;
    transition: 0.5s;
}

